/* Reservation Form Styling */
.reservation-form {
    padding: 3rem 1.5rem;
    background: var(--background-color);
    text-align: center;
}

.unathenticted{
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
