# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/
.env

# Database files
*.sqlite3
db.sqlite3

# Log files
*.log

# Ignore all migrations
*/migrations/*

# User-specific files
*.DS_Store

/static/
*.static

.idea/
GEMINI.md
CLAUDE.md