asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.6
django-environ==0.13.0
django-modeltranslation==0.20.3
django-rosetta==0.10.3
django-unfold==0.97.0
idna==3.18
pillow==11.0.0
polib==1.2.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
requests==2.34.2
sqlparse==0.5.2
typing_extensions==4.15.0
urllib3==2.7.0
