* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

/* Ensure the page uses full height */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
}

main {
    flex: 1;
}


/* Footer Styling */
footer {
    background: #5c3d2e; /* Example footer background color */
    color: white;
    text-align: center;
    position: relative; /* Ensure it stays relative to its container */
}

