@media (max-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .photo-wrapper {
        flex-basis: 100%;
        width: 55%;
        max-width: 220px;
        margin: 0 auto;
        aspect-ratio: 3 / 4;
    }

    .photo-wrapper img {
        height: 100%;
        object-fit: cover;
    }
}