{% load i18n %}
<div class="hp-feat-list">
    {% for m in services %}
    <article class="hp-feat-row hp-reveal">
        <a href="{% url 'service_detail' pk=m.pk %}" class="hp-feat-img">
            <img src="{{ m.image.url }}" alt="{{ m.name }}">
        </a>
        <div class="hp-feat-body">
            <span class="hp-feat-num">0{{ forloop.counter }}</span>
            <h3 class="hp-feat-name">{{ m.name }}</h3>
            <p class="hp-feat-desc">{{ m.short_description }}</p>
            <div class="hp-feat-meta">
                <span class="hp-feat-badge">{{ m.duration_in_minutes }} {% trans "мин" %}</span>
                <span class="hp-feat-price">{{ m.price }} {% trans "лв." %}</span>
            </div>
            <a href="{% url 'reservation_page' %}?service={{ m.pk }}" class="btn btn-primary hp-feat-book" data-auth-modal-link>{% trans "Запазете час" %}</a>
        </div>
    </article>
    {% endfor %}
</div>
