{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="about-me">
    <div class="description">
        <h2>За мен и моето студио</h2>
        <div class="about-content">
            <div class="photo-info-container">
                <!-- Photo Section -->
                <div class="photo-wrapper">
                    <img src="{{ masseur.image.url }}" alt="Masseur's Photo">
                </div>
                <!-- Info Section -->
                <div class="info-section">
                    <p>
                        {{ masseur.description }}
                    </p>
                    <p>
                        {{ studio.description }}
                    </p>
                </div>
            </div>
{#            <!-- Certificate Section -->#}
{#            <div class="certificate-section">#}
{#                <div class="certificate">#}
{#                    <img src="{% static 'images/certificate.png' %}" alt="Certificate">#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</section>

<section class="comments">
    <div class="description">
        <h2>Коментари</h2>
        <div class="comment-carousel">
            <div class="carousel-wrapper">
                {% for comment in comments %}
                <div class="carousel-item">
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.content }}</p>
                </div>
                {% empty %}
                <div class="carousel-item">
                    <strong>Няма коментари</strong>
                    <p>Бъди първенец и остави твоето мнение</p>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-btn prev-btn">&laquo;</button>
            <button class="carousel-btn next-btn">&raquo;</button>
        </div>
        {% if perms.app_name.add_comment %}
            <form class="comment-form" method="post">
                {% csrf_token %}
                <h3>Остави коментар</h3>
                {% if user.is_authenticated %}
                <div class="form-group">
                    {{ form.content }}
                </div>
                <button type="submit" class="btn-primary">Submit</button>
                 {% else %}
                    <p>Влезте в профила си, за да оставите коментар.<b><a href="#">Кликнете тук</a></b></p>
                {% endif %}
            </form>
        {% else %}
            <p>Вие нямате разрешение да оставяте коментари.</p>
        {% endif %}
    </div>
</section>

<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
