{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-content">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
        </div>
    </section>

    <!-- Carousel Section -->
    {% if images %}
    <section class="carousel-section">
        <div class="carousel">
            {% for image in images %}
                <div class="carousel-slide active">
                    <img src="{{ image.image.url }}" alt="{{ image.alt_text }}">
                </div>
            {% endfor %}
            <button class="carousel-btn prev" onclick="prevSlide()">&#10094;</button>
            <button class="carousel-btn next" onclick="nextSlide()">&#10095;</button>
        </div>
    </section>
    {% endif %}

    <!-- Offer Cards Section -->
    <section class="offers">
        <div class="container">
            <h2>Предпочитани масажи</h2>
            <div class="card-container">
                {% for m in massages %}
                    <div class="card">
                        <h3>{{ m.name }}</h3>
                        <p>
                            {{ m.short_description }}
                        </p>
                        <a href="{% url 'reservation_page' pk=m.pk %}" class="btn">Направи резервация</a>
                        <a href="{% url 'massage_detail' pk=m.pk %}" class="btn btn-primary">Научете повече</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    {% include 'partials/working_hours.html' %}
    <script src="{% static 'js/carousel.js' %}"></script>
    
{% endblock %}

