{% extends 'base.html' %}

{% block content %}
<div class="blog-container">
    <div class="blog-header">
        <img src="{{ massage.image.url }}" alt="{{ massage.name }}" class="blog-image">
    </div>
    <div class="blog-content">
        <h1 class="blog-title">{{ massage.name }}</h1>
        <div class="blog-description">
            <p>{{ massage.description }}</p>
        </div>
        <div class="blog-details">
            <p><strong>Цена:</strong> {{ massage.price }}лв</p>
            <p><strong>Продължителност:</strong> {{ massage.duration_in_minutes }} minutes</p>
        </div>
        <a href="{% url 'reservation_page' pk=massage.pk %}" class="btn">Направи резервация</a>
    </div>
</div>
{% endblock %}
