{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Предлагани масажи</h1>
        <div class="cards">
            {% for m in massages %}
                <div class="card">
                    <img src="{{ m.image.url }}" alt="Swedish Massage">
                    <div class="card-content">
                        <h2 class="card-title">{{ m.name }}</h2>
                        <p class="card-description">{{ m.short_description }}</p>
                        <a href="{% url 'massage_detail' pk=m.pk %}" class="btn">Learn More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
