{% extends "base.html" %}

{% block content %}
<section class="reservation-page">
    <div class="description">
        <h2>Твоите резервации</h2>
        {% if reservations %}
            <div class="reservation-table">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Час</th>
                            <th>Вид</th>
                            <th>Съобщение</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ reservation.date }}</td>
                                <td>{{ reservation.time }}</td>
                                <td>{{ reservation.massage }}</td>
                                <td>{{ reservation.additional_text }}</td>
                                <td>
                                    <a href="{% url 'delete_reservation' reservation.id %}" class="btn-danger">Отмени</a>
                                    <a href="{% url 'edit_reservation' reservation.id %}" class="btn-edit">Промени</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Вие нямате резервации</p>
        {% endif %}
    </div>
</section>
    
{% if reservations %}
    {% include 'partials/working_hours.html' %}
{% endif %}

{% endblock %}
