{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="blog-container">
    <div class="blog-header">
        <img src="{{ service.image.url }}" alt="{{ service.name }}" class="blog-image">
    </div>
    <div class="blog-content">
        <h1 class="blog-title">{{ service.name }}</h1>
        <div class="blog-description">
            <p>{{ service.description }}</p>
        </div>
        <div class="blog-details">
            <p><strong>{% trans "Цена:" %}</strong> {{ service.price }}лв</p>
            <p><strong>{% trans "Продължителност:" %}</strong> {{ service.duration_in_minutes }} {% trans "мин" %}</p>
        </div>
        {% if site_config.booking_enabled %}
        <a href="{% url 'reservation_page' pk=service.pk %}" class="btn" data-auth-modal-link>{% trans "Направи резервация" %}</a>
        {% endif %}
    </div>
</div>
{% endblock %}
