.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    color: var(--font-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.navbar .menu a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .menu a:hover {
    color: var(--secondary-color);
}
