{% extends "emails/base_email.html" %}
{% load i18n %}
{% block subject %}{% trans "Финалните ви снимки са прикачени" %}{% endblock %}
{% block content %}
<h1 style="font-family:Georgia, 'Times New Roman', serif; font-size:21px; line-height:1.35; font-weight:normal; color:#1A1A1A; margin:0 0 18px;">{% blocktrans %}Здравейте, {{ client_name }}{% endblocktrans %}</h1>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:1.65; color:#33332F; margin:0 0 18px;">{% trans "Финалните, обработени снимки от вашата сесия са прикачени към този имейл в ZIP архив." %}</p>
{% endblock %}
