{% extends "emails/base_email.html" %}
{% load i18n %}
{% block subject %}{% blocktrans %}{{ client_name }} избра снимките си за обработка{% endblocktrans %}{% endblock %}
{% block content %}
<h1 style="font-family:Georgia, 'Times New Roman', serif; font-size:21px; line-height:1.35; font-weight:normal; color:#1A1A1A; margin:0 0 18px;">{% trans "Готово за обработка" %}</h1>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:1.65; color:#33332F; margin:0 0 26px;">{% blocktrans %}{{ client_name }} финализира маркираните снимки от своята сесия.{% endblocktrans %}</p>
{% include "emails/_button.html" with url=marked_photos_url label=_("Вижте маркираните снимки") %}
{% endblock %}
